.conteiner {
    display: flex;
    background-color: #1D2226;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
}

.nevegacao {
    width: 100%;
    margin: 40px 35px 50px 70px;
}

.banner {
    font-family:'Quantico', sans-serif;
    height: 120px;
    margin: 0 auto;
    position: relative;
    background: url("../imgs/Group 4.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}

.banner > img{
    position: absolute;
    right:0;
    bottom:-14px;
}

.banner > div  {
    margin: 16px 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.banner > span {
    opacity: 0.2;
    align-self: center;
    border-right: 2px solid #F294D8;
    height: 46px;
    width: 0px;
}

.banner1 > span {
    font-size: 40px;
}

.banner1 > div {
    display: flex;
    align-items: center;
    font-size: 1em;
    color: #0F0915;
}

.banner2 > span {
    font-size: 24px;
    margin-right: 10px;
}

.banner2 > div {
    display: flex;
    align-items: center;
}

.banner2 > div > img {
    margin-right: 10px;
}

.banner1     > div > img {
    margin-right: 10px;
}

.topFilmes {
    margin: 16px 0;
    display: flex;
    flex-direction: column;
}

.topFilmes > span, .todosOsFilmes > span {
    font-size: 1.5em;
    color: #FDFDFD;
    margin-bottom: 16px;
    font-weight: bold;
}

.filmes {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: -12px;
}

.card {
    margin: 12px;
    height: 300px;
    width: 180px;
    margin-bottom: 24px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 12px 8px 6px;
    object-fit: contain;
}

.estrela-fav {
    margin-bottom: auto;
}

#poster {

    width: 100%;
    height: auto;
}

.card > div {
    display: flex;
    justify-content: space-between;
    align-self: stretch;
}

.card > button {
    border: none;
    background-color: #A785ED;
    color:#EEE6FF;
    padding: 4px 8px;
    margin-top: 8px;
    font-weight: bold;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    align-self: stretch;
}

.card > button:hover {
    background-color:#715E97;
}

#filmeNoCarrinho {
    background-color: #898989 ;
}

.nome-do-filme {
    color: #FDFDFD;
    bottom: 40px;
    left: 8px;
    font-weight: bold;
    font-size: 1em;
}

.nota-do-filme {
    color: #FDFDFD;
    bottom: 40px;
    right: 8px;
    color:#FBCD6E;
    font-weight: bold;
    font-size: 0.75em;
}

.TodosOsFilmes {
    display: flex;
    flex-direction: column;
}

.botoesGeneros {
    display: flex;
    margin-bottom: 24px;
    justify-content: space-between;
}

#ativo {
    border: 2px solid #E183C8;
    color: #E183C8;
    background-color: rgba(225, 131, 200, 0.2);
}

.botoesGeneros > button {
    flex-grow: 1;
    border: 2px solid #4A4E51;
    background-color: transparent;
    color:  #4A4E51;
    padding: 8px;
    font-weight: 600;
    font-size: 16px;
    max-width: 180px;
}

.botoesGeneros > button:hover {
    border: 2px solid #E183C8;
    color: #E183C8;
}


